/* Grid layout */

body{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 80px 50px auto 50px;
    grid-template-areas:
    "header header"
    "nav nav "
    "main aside"
    "footer aside" 
}

header{
    text-align: center;
    font-size:2em;
    font-family: Monospace;
    grid-area: header;
}

main{
    grid-area: main;
    display: block;
}

footer{
    grid-area: footer;
}

nav{
    grid-area: nav;
    padding-top: 16px;
}

/* Mina bakgrundsfärger */

#index{
    background-color: #f9fc9d;
}

#index2{
    background-color: #ff7b47;
}

#index3{
    background-color: #adffdd;
}

/* nav css*/

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}

nav li{
    list-style-type: none;
    text-align: center;
    font-size:1.5em;
}

nav a{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 30px;
    border-width: 2px;
    display:inline-block;
    width: 95%;
}

/* "Teknikum" css */

#index p{
    margin-left: 6%;
}

#index img{
    width: 800px;
}

#index div{
    padding-left: 10%;
}

#index aside p{
    background-color: #f8fd69;
    border-style: dashed;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#index footer{
    padding-left: 400px;
    padding-top: 60px;
    font-size: 2em;
}

/* "Höst" css */

#index2 p{
    margin-left: 6%;
}

#index2 img{
    margin-left: 20px;
    width: 920px;
    border: 3px solid;
    border-radius: 50px;
    margin-top: 116px;
}

#index2 aside{
    padding-top: 12%;
}

#index2 div{
    padding-right: 30px;
    border-style: solid;
    border-radius: 50px;
    background-color: #fc7412;
}

/* "Frukt tabell" css */

#index3 img{
    padding-left: 10%;
    padding-top: 10%;
}

#index3 main{
    width: 50%
}

#index3 main{
    margin: 280px;
}

/* Detta är min tabell kod */

tr, td{
    border: 2px solid black;
    width: 30%
}

tr, td{
    border-spacing: 0px;
    border-radius: 50px;
    padding-top:10px;
    padding-bottom:10px;
}

/* Här använder jag mig av zebra striping i min tabell */

td:nth-child(1){
    text-align: left;
    background-color: pink;
    padding-left: 10px;
}

td:nth-child(2){
    text-align: center;
    background-color: #d12e2e;
}

td:nth-child(3){
    text-align: center;
    background-color: lightgreen;
}

td:nth-child(4){
    text-align: center;
    background-color: #faff78;
    padding-left: 10px;
    padding-right: 10px;
}

/* Den här koden under gör att mina nav får en annan färg när jag byter sida */

#index nav a:hover{
    background-color: #f7e720;
}

#index2 nav a:hover{
    background-color: red;
}

#index3 nav a:hover{
    background-color: #20f7a8;
}